#title-slide .quarto-title-author-name::after {
  content: "";
  display: block;

	width: 830px;
  height: 120px;

  margin: 100px auto 0 auto;

  background-image:
    url("logo_cef_english_tr_320x243.gif"),
    url("UL_FFGG_C_d_RGB_Ang.png");

  background-repeat: no-repeat, no-repeat;
  background-size: contain, 65% auto;

  background-position:
    left center,
    right center;
}
